/* <---- Styling for Mobile Devices ----> */
html {
	height:100%;
	font-size: 16px;
	scroll-behavior: smooth;
}
body {
	text-align: left;
	margin:0px;
	padding:0px;
	background-color:#f0f0f0;
	background-color: #262e33;
	/* background-color:#000000; */
	font-family: Helvetica, Arial, sans-serif;
	/* Padding to compensate for the fixed navigation bar on mobile */
	padding-top: 10vh;
	/* animation: fadeIn 1.5s ease; */
}

h2, h3 {
	font-family: Helvetica, Arial, sans-serif;
}

/* Main Website Structure Flexbox */
#main {
	/* color:#f0f0f0; */
	background-color:#f0f0f0;
	color:#000000;
	width: 100%;
	min-height: 80vh;
	height: auto;
	display: flex;
	flex-basis: 0 0 50%;
	/* margin: 1vh 0; */
}

/* Sets the middle column of the page bigger than other columns */
#main > div:nth-of-type(odd) {flex-grow: 0.5;}
#main > div:nth-of-type(even) {flex-grow: 4;}

/* Centre column in the middle of the screen used for each page's content. */
#middlecol {
	z-index:1;
	width: 10%;
	padding: 0 20px;
	margin: 3vh 0;
	line-height: 1.6;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#middlecol h1 {
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 0.25rem solid #00b55d;
}

#middlecol h2 {
	list-style-type: none;
	padding: 0;
	margin: 1vh 0;
}

/* Website Navigation Bar */
#navbar {
	box-sizing: border-box;
    /* position:fixed is need for the navmenu to overlay on the content */
    position:fixed;
	top:0;  /* Used to keep the navbar at the top */
	margin-top: 0;	/* Removes gap at the top of the navbar */
    width:100%;
	background-color: #262e33;
    text-transform: uppercase;
    padding: 0 0.5%;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	overflow:hidden;
	z-index:6;	/* Displays above overlay and page content */
}

.navbar_opac {
	background-color: rgba(38, 46, 51, 0) !important;
}

.navbar_filled {
	background-color: rgb(38, 46, 51) !important;
}

#navbar li {
    list-style-type: none;
}

#navbar li a:link, #navbar li a:visited{
    position: relative;
    color:#f2f2f2;
    text-decoration:none;
    padding: 0.5em 0;
    display:block;
}

/* An item in the navbar */
.menuitem {
	order:2;
	height: 0;
    width: 100%;
	text-align: center;
	transition: 250ms height ease-in-out;
}

/* Sets how the menu items should be displayed on mobile navbar */
.menuitems_show .menuitem {
	height: 8vh;
}

.logotext {
    color:#f2f2f2;
    font-size: 1.25em;
    padding: 0.75em;
}

/* Toggle for the mobile navbar */
.menutoggle {
	order: 1;
    font-size: 1.25em;
    padding: 0 0.75em;
}

/* Indicates the currently accessed page */
#currentPage {
	color:#00b55d !important;
	pointer-events: none;
	cursor:default;
}

/* Darkens screen when the navbar is opened */
.navOverlay {
	/* background-color: rgba(0,0,0,0); */
	background-color: rgba(99, 99, 99, 0);
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: 5; /* Overlays page content */
	transition: all 300ms ease;
}

/* Page banner that appears at the top of every page */
#banner {
	display: flex;
	width: 100%;
	height: 60vh;
	justify-content: center;
	align-items: center;
}

.bannerText {
	position: absolute;
	text-align: center;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	padding: 0 5vh;
}

#banner h1 {
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
}

#banner h2 {
	font-weight: 400;
	font-size: 1.25rem;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

/* Special version of the banner for the index page only */
#indexBanner {
	position: absolute; 
	top: 0; 
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.indexBannerText {
	position: absolute;
	text-align: center;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	padding: 0 5vh;
}

#indexBanner h1 {
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
}

#indexBanner h2 {
	font-weight: 400;
	font-size: 1.25rem;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

#indexButton {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	padding: 1vh 2vh;
	margin: 3vh 0 2vh 0;
}

#indexButton:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: rgb(27, 27, 27);
	transition: background-color 0.4s;
}

/* Settings for the particles in the BG */
#particles-js {
	background-color: #262e33;
	width: 100%;
	height: 100%;
	z-index: -10;
}

#infoRec {
	display:flex;
	flex-wrap: nowrap;
	background-color: #4d5c66;
	width: auto;
	min-height: 10vh;
	justify-content: center;
	align-items: center;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

#infoRec div {
	color: #f0f0f0;
	flex: 1 1 0;
	text-align: center;
	padding: 3vh 1vh;
	height: 100%;
}

#infoRec h2 {
	color: #00b55d;
	text-transform: uppercase;
}

#infoTable {
	width: 100%;
	min-height: 10vh;
	table-layout: fixed;
	text-align: center;
	font-family: inherit;
}

#infoTable th {
	padding-top: 3vh;
}

#infoTable td {
	color: #f0f0f0;
	font-size: 1.2rem;
	padding-bottom: 4vh;
}

#overview {
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	min-height: 15vh;
	background-color: #25292b;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	padding: 3vh 1vh;
}

#overview a {
	text-decoration: none;
	color: #f0f0f0;
}

#overview h2 {
	color: #00994f;
	text-transform: uppercase;
}

#ovTable {
	text-align: center;
}

#ovTable td {
	color: #f0f0f0;
	font-size: 1.2rem;
	padding-bottom: 3vh;
	line-height: 1.5rem;
}

.links {
	position: relative;
}

.links::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.1rem;
	bottom: -0.2vh;
	left: 0;
	background-color: #00b55d;
	transition: all 0.3s ease-in-out 0s;
}

.links:hover:before {
	height: 0.4rem;
	bottom: -1vh;
}

.midtextLink {
	transition: all 0.3s ease-in-out 0s;
	color: #00ec7a !important;
}

.midtextLink:hover {
	color: #008344 !important;
}

.project {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 40vh;
	width: auto;
	margin-bottom: 5vh;
}

.projectImg {
	background-color: #262e33;
	flex-grow: 1;
	overflow: hidden;
	height: 40vh;
	width:65%; 
}

.projectImg img {
	object-fit: fill;
	width:100%; 
	height:100%;
	transition: .3s ease-in-out;
	display: block;
	overflow: hidden;
}

.projectImg:hover img {
	transform: scale(1.3);
}

.projectTxt {
	flex-grow: 0.5;
	padding: 2vh 3vh;
}

.projectTxt button {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	padding: 1vh 2vh;
	transition-duration: 0.4s;
}

.projectTxt button:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: black;
}

.tags {
	color: #8d8d8d;
}

#footer {
	background-color: #262e33;
	color: #a7a7a7;
	width: 100%;
	height: auto;
	font-size: 1.4rem;
	padding: 2vh 0;
	text-align:center;
}

.linkSet{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.linkIcon {
	color: white;
	font-size: 2rem;
	margin: 0.5em 1em 1em 1em;
}

.linkIcon:hover {
	color: #00b55d;
	transition: color 0.5s ease;
}

.indexLinkIcon {
	color: white;
	font-size: 2rem;
	margin: 1em;
}

.indexLinkIcon:hover {
	color: #00b55d;
	transition: color 0.5s ease;
}

#toplink {
	color:#ffd728;
}

.greenHighlight {
	color: #00ec7a;
}

#emailDiv {
	display:flex;
	justify-content: center;
	align-items: center;
}

#emailForm {
	width: 100%;
}

input[type=text], input[type=email], textarea {
	border: none;
	border-bottom: 0.2rem solid #00b55d;
	background-color: #f0f0f0;
	width: 100%;
	margin: 2vh 0;
	font-size: 1.2rem;
	font-family: Helvetica, Arial, sans-serif;
	min-height: 1.8rem;
	margin-bottom: 1rem;
}

textarea {
	resize: vertical;
	min-height: 10rem;
}

input[type=submit] {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	margin: 2vh 0;
	padding: 1vh 2vh;
	transition-duration: 0.4s;
}

input[type=submit]:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: black;
}

input[type=submit]:disabled {
	background-color: #00b55e88;
	color: #f0f0f0;
	cursor: not-allowed;
}

/* Flex container for the contact boxes on contact page */
#contactContainer {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

[class^="contactBox"] {
	background-color:#f0f0f0;
	color:#000000;
	font-size: 1rem;
	line-height: 2.5rem;
	text-decoration: none;
	width: 27vh;
	margin: 1vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s ease;
	text-align: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

[class^="contactBox"] h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.contactBox-email {
	color:#f0f0f0;
	background-color: #00b55d;
}

.contactBox-github {
	color:#f0f0f0;
	background-color: #211f1f;
}

.contactBox-linkedin {
	color:#f0f0f0;
	background-color: #0077B5;
}

[class^="contactIcon"] {
	font-size: 3rem;
	margin: 0.5em 1em 0 1em;
}

/* <---- Settings for Other Devices ----> */

/* Tablet layout - Portrait */
@media only screen and (min-width:700px) and (max-width: 1024px) and (orientation: Portrait) {
	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 7.5vh;
	}

	.logotext {
		font-size: 1.25em;
	}

	.menuitems_show .menuitem {
		height: 5.5vh;
	}

	#banner h1{
		font-size: 3rem;
	}

	#banner h2 {
		font-size: 1.25rem;
	}

	#indexBanner h1{
		font-size: 3rem;
	}

	#indexBanner h2 {
		font-size: 1.35rem;
	}

	.indexLinkIcon {
		font-size: 2.5rem;
	}
}

/* Tablet layout - Landscape */
@media only screen and (min-width:700px) and (max-width: 1399px) and (orientation: Landscape){
	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 12.5vh;
	}

	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	.menuitem {
        display:block;
		width: auto;
		height: auto;
        padding: 0.75em 0.5em;
	}
	
	.menutoggle {
		display: none;
	}

	.logotext {
        flex:1;
        font-size: 1.5em;
	}

	.project {
		flex-wrap: nowrap;
	}

	#banner h1{
		font-size: 3rem;
	}

	#indexBanner h1{
		font-size: 3rem;
	}

	#indexBanner h2 {
		font-size: 1.35rem;
	}

	.indexLinkIcon {
		font-size: 2.5rem;
	}
}

/* Desktop layout */
@media only screen and (min-width: 1400px) {
	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 8vh;
	}

	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.75;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	#navbar {
        justify-content: center;
        padding-right: 25vw;
	}
	
    #navbar li a:before {    
        content: "";
        display: block;
        height: 0.1em;
        /* 
            Replace this value with left/right to change ending point of underline anim.
            I.e. left: 0; ends on the left, right: 0; ends on the right. 
        */
        right: 0;	
        position: absolute;
        background-color: #00b55d;
        width: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    
    #navbar li a:hover:before { 
        width: 100%; 
        /* 
            Replace this value with left/right to change starting point of underline.
            I.e. left: 0; starts from the left, right: 0; starts from the right. 
        */
        left: 0; 
    }

    .menuitem {
        display:block;
		width: auto;
		height:auto;
        padding: 0.75em 0.5em;
    }

    .logotext {
        flex:1;
        font-size: 1.5em;
        padding-left: 23vw;
	}
	
	.menutoggle {
		display: none;
	}

	#banner h1{
		font-size: 5rem;
	}

	#banner h2 {
		font-size: 1.5rem;
	}

	#indexBanner h1{
		font-size: 5rem;
	}

	#indexBanner h2 {
		font-size: 1.5rem;
	}

	#infoRec {
		padding: 0 45vh;
	}

	#overview {
		padding: 0 60vh;
	}

	.links {
		font-size: 1.3rem;
	}

	.project {
		flex-wrap: nowrap;
		margin: 0 5vh;
		margin-bottom: 5vh;
	}

	.indexLinkIcon {
		font-size: 3rem;
	}

	[class^="contactBox"] {
		background-color:#f0f0f0;
		color:#000000;
	}
	

	.contactBox-email:hover {
		color:#f0f0f0;
		background-color: #00b55d;
	}
	
	.contactBox-github:hover {
		color:#f0f0f0;
		background-color: #211f1f;
	}
	
	.contactBox-linkedin:hover {
		color:#f0f0f0;
		background-color: #0077B5;
	}	
}

/* <---- Animations ----> */

/* Fade-in animation on page load */
@keyframes fadeIn {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Custom Fonts */
@font-face {
	font-family: Inconsolata-Regular;
	src: url(fonts/Inconsolata-Regular.ttf)
}