html {
	height:100%;
}
body {
	text-align: left;
	margin:0px;
	padding:0px;
	background-color:#f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
/* Webpage structure */
#footer {
	background-color: #00a555;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.4em;
	padding-top:25px;
	padding-bottom:20px;
	text-align:center;
}

#toplink {
	color:#ffd728;
}
.leftimg {
	max-width:100%;
	max-height:100%;
	float:left;
	padding-right:10px;
}
img.palette {
	max-width:200px;
	max-height:500px;
	float:right;
	margin-left:10px;
	border: 3px solid black;
	margin-bottom: 10px;
}
img.structure {
	max-width:200px;
	max-height:500px;
	float:right;
	margin-left:10px;
	border: 3px solid black;
	margin-bottom: 10px;
}
/* End website structure */

/* End navigation menu CSS */

/* Span styles */
#headergreen {
	color:#48af48;	
}
.footergreen {
	color:#00a555;	
}
#hovergreen {
	color:#00b55d;	
}
.tablecolour {
	color:#007a3e;
}
.highlight {
	color:#0C374D;
	font-weight:800;
	text-decoration:underline;
}
/* End span styles */

/* Table styles */
table {
	width:100%;
	table-layout:fixed;
}
table, th, td {
	border: 1px solid #007a3e;
	border-collapse: collapse;
}
table td {
	padding-left:10px;
	padding-right:5px;
}
table th {
	background-color: #007a3e;
	color:white;
	text-align: center;
	overflow: auto;
}
.purpose {
	min-width:60%;
	padding-right:10px;
}
.csselement {
	min-width:40%;
}
/* End table styles */
ul {
	list-style-position:inside;
}
.quote {
	font-size:1em;
	font-style:italic;
}

/* Main Website Structure Flexbox */
#main {
	width: 100%;
	min-height: 80vh;
	height: auto;
	display: flex;
	flex-basis: 0 0 50%;
}

/* Centre column in the middle of the screen used for each page's content. */
#middlecol {
	width: 10%;
	padding: 5px 20px 5px 20px;
	line-height: 1.6;
}

#header {
	background-color: #262e33;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	transition: top 0.3s;
	justify-content: center;
	align-items: center;
	height: 10%;
	margin-top: 0;
	box-shadow: 0 0 25px 0 black;
	/* Header Font Settings */
	font-family: Inconsolata-Regular;
}

/* Navigation menu bar at the top of the screen */
#navmenu {
	display:flex;
	font-size: 1.5em;
	line-height: 3em;
	padding:0;
}

#navmenu a:hover {
	color:#00b55d;
	text-decoration: underline;
	transition: 0.6s;
}

#navmenu li {
	color: #f2f2f2;
	text-align: center;
	padding: 0.5%;
	list-style-type: none;
	/* display: inline-block; */
	align-items: center;	
}

#navmenu li a {
	color: #f2f2f2;
	text-decoration:none;
	text-align: right;
}

#navmenu li a:hover{
	color:#00b55d;
	text-decoration: underline;
	transition: 0.6s;
}

.logotext {
	margin-right: auto;
}

.menuitems {
	list-style-type: none;
}

/* Indicates the current page the user has accessed. */
#currentpage {
	color:#00b55d !important;
	text-decoration: underline;
}

/* End navigation menu bar CSS */

/* Mobile layout */
@media only screen and (max-width: 700px) {
    .hide-mobile {
        display: none;
	}
	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 2;}

	#header > div:nth-of-type(odd) {flex-grow: 0.5;}
	#header > div:nth-of-type(even) {flex-grow: 5;}

	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 20%;
	}

	.logotext {
		font-size: 1em;
	}

	.menuitems {
		display: none;
	}
}

/* Tablet layout */
@media only screen and (min-width:701px) {
	.hide-tablet {
        display: none;
	}
	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	#header > div:nth-of-type(odd) {flex-grow: 0.5;}
	#header > div:nth-of-type(even) {flex-grow: 0.8;}

	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 5%;
	}

	.logotext {
		font-size: 1.25em;
	}
}

/* Desktop layout */
@media only screen and (min-width: 981px) {
    .hide-desktop {
        display: none;
	}
	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	#header > div:nth-of-type(odd) {flex-grow: 0.5;}
	#header > div:nth-of-type(even) {flex-grow: 2;}

	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 5%;
	}

	.logotext {
		font-size: 1.5em;
	}
}

/* Custom Fonts */
@font-face {
	font-family: Inconsolata-Regular;
	src: url(fonts/Inconsolata-Regular.ttf)
}