/* <---- Styling for Mobile Devices ----> */
html {
	height:100%;
	font-size: 16px;
}
body {
	text-align: left;
	margin:0px;
	padding:0px;
	background-color:#f0f0f0;
	font-family: Helvetica, Arial, sans-serif;
	/* Padding to compensate for the fixed navigation bar */
	padding-top: 10vh;
	animation: fadeIn 2s ease;
}
h1 {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
/* Webpage structure */
#footer {
	background-color: #262e33;
	color: white;
	width: 100%;
	height: auto;
	font-size: 1.4rem;
	padding-top:25px;
	padding-bottom:20px;
	text-align:center;
}

.linkIcon {
	color: white;
	font-size: 2rem;
}

.linkIcon:hover {
	color: #00b55d;
	transition: color 0.5s ease;
}

#toplink {
	color:#ffd728;
}
.leftimg {
	max-width:100%;
	max-height:100%;
	float:left;
	padding-right:10px;
}
img.palette {
	max-width:200px;
	max-height:500px;
	float:right;
	margin-left:10px;
	border: 3px solid black;
	margin-bottom: 10px;
}
img.structure {
	max-width:200px;
	max-height:500px;
	float:right;
	margin-left:10px;
	border: 3px solid black;
	margin-bottom: 10px;
}
/* End website structure */

/* Span styles */
#headergreen {
	color:#48af48;	
}
.footergreen {
	color:#00a555;	
}
#hovergreen {
	color:#00b55d;	
}
.tablecolour {
	color:#007a3e;
}
.highlight {
	color:#0C374D;
	font-weight:800;
	text-decoration:underline;
}
/* End span styles */

/* Table styles */
table {
	width:100%;
	table-layout:fixed;
}
table, th, td {
	border: 1px solid #007a3e;
	border-collapse: collapse;
}
table td {
	padding-left:10px;
	padding-right:5px;
}
table th {
	background-color: #007a3e;
	color:white;
	text-align: center;
	overflow: auto;
}
.purpose {
	min-width:60%;
	padding-right:10px;
}
.csselement {
	min-width:40%;
}
/* End table styles */
ul {
	list-style-position:inside;
}
.quote {
	font-size:1em;
	font-style:italic;
}

/* Main Website Structure Flexbox */
#main {
	width: 100%;
	min-height: 80vh;
	height: auto;
	display: flex;
	flex-basis: 0 0 50%;
}

/* Sets the middle column of the page bigger than other columns */
#main > div:nth-of-type(odd) {flex-grow: 0.5;}
#main > div:nth-of-type(even) {flex-grow: 2;}

/* Centre column in the middle of the screen used for each page's content. */
#middlecol {
	width: 10%;
	padding: 5px 20px;
	line-height: 1.6;
}

/* Indicates the current page the user has accessed. */
#currentpage {
	color:#00b55d !important;
	text-decoration: underline;
}

/* Website Navigation Bar */
#navbar {
	box-sizing: border-box;
    /* position:fixed is need for the navmenu to overlay on the content */
    position:fixed;
	top:0;  /* Used to keep the navbar at the top */
	margin-top: 0;	/* Removes gap at the top of the navbar */
    width:100%;
    background-color: #262e33;
    text-transform: uppercase;
    padding: 0 0.5%;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.1vh 1vh rgb(75, 75, 75);
	font-family: Inconsolata-Regular, Arial, Helvetica, sans-serif;
	overflow:hidden;
	z-index:2;	/* Displays above overlay and page content */
}

#navbar li {
    list-style-type: none;
}

#navbar li a {
    position: relative;
    color:#f2f2f2;
    text-decoration:none;
    padding: 0.5em 0;
    display:block;
}

.menuitem {
	order:2;
	height: 0;
    /* padding: 0.25em; */
    width: 100%;
	text-align: center;
	transition: 250ms height ease-in-out;
}

.menuitems_show .menuitem {
	height: 8vh;
}

.logotext {
    color:#f2f2f2;
    font-size: 1.25em;
    padding: 0.75em;
}

.menutoggle {
	order: 1;
    font-size: 1.25em;
    padding: 0 0.75em;
}

#currentPage {
	color: #00b55d !important;
	font-weight: 600;
}

.navOverlay {
	/* background-color: rgba(0,0,0,0); */
	background-color: rgba(99, 99, 99, 0);
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index:1; /* Overlays page content */
	transition: all 300ms ease;
}

/* <---- Animations ----> */
@keyframes fadeIn {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* <---- Settings for Other Devices ----> */

/* Tablet layout - Portrait */
@media only screen and (min-width:700px) and (max-width: 1024px) and (orientation: Portrait) {
	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 7.5vh;
	}

	.logotext {
		font-size: 1.25em;
	}

	.menuitems_show .menuitem {
		height: 5.5vh;
	}
}

/* Tablet layout - Landscape */
@media only screen and (min-width:700px) and (max-width: 1399px) and (orientation: Landscape){
	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 12.5vh;
	}

	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	.menuitem {
        display:block;
		width: auto;
		height: auto;
        padding: 0.75em 0.5em;
	}
	
	.menutoggle {
		display: none;
	}

	.logotext {
        flex:1;
        font-size: 1.5em;
	}
}

/* Desktop layout */
@media only screen and (min-width: 1400px) {
	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 8vh;
	}

	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	#navbar {
        justify-content: center;
        padding-right: 25vw;
		box-shadow: 0 0.1vh 1vh rgb(75, 75, 75);
	}
	
    #navbar li a:before {    
        content: "";
        display: block;
        height: 0.1em;
        /* 
            Replace this value with left/right to change ending point of underline anim.
            I.e. left: 0; ends on the left, right: 0; ends on the right. 
        */
        right: 0;	
        position: absolute;
        background-color: #00b55d;
        width: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    
    #navbar li a:hover:before { 
        width: 100%; 
        /* 
            Replace this value with left/right to change starting point of underline.
            I.e. left: 0; starts from the left, right: 0; starts from the right. 
        */
        left: 0; 
    }

    .menuitem {
        display:block;
		width: auto;
		height:auto;
        padding: 0.75em 0.5em;
    }

    .logotext {
        flex:1;
        font-size: 1.5em;
        padding-left: 23vw;
	}
	
	.menutoggle {
		display: none;
	}
}

/* Custom Fonts */
@font-face {
	font-family: Inconsolata-Regular;
	src: url(fonts/Inconsolata-Regular.ttf)
}