* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height:100%;
    font-family: sans-serif;
    font-size: 16px;
}

#navmenu {
    background-color: #262e33;
    text-transform: uppercase;
    padding: 0 0.5%;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Inconsolata-Regular, Arial, Helvetica, sans-serif;
}

#navmenu li {
    list-style-type: none;
}

#navmenu li a {
    position: relative;
    color:#f2f2f2;
    text-decoration:none;
    padding: 0.5em 0;
    display:block;
}

#navmenu li a:before {    
    content: "";
    display: block;
    height: 0.1em;
    /* 
        Replace this value with left/right to change ending point of underline anim.
        I.e. left: 0; ends on the left, right: 0; ends on the right. 
    */
    right: 0;	
    position: absolute;
    background-color: #00b55d;
    width: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out 0s;
}

#navmenu li a:hover:before { 
    width: 100%; 
    /* 
        Replace this value with left/right to change starting point of underline.
        I.e. left: 0; starts from the left, right: 0; starts from the right. 
    */
    left: 0; 
}

.menuitem {
    order:2;
    padding: 0.75em;
    width: 100%;
    text-align: center;
}

.logotext {
    color:#f2f2f2;
    font-size: 1.25em;
    padding: 0.75em;
}

.menutoggle {
    order: 1;
    font-size: 1.25em;
    padding: 0 0.75em;
}

/* Custom Fonts */
@font-face {
	font-family: Inconsolata-Regular;
	src: url(fonts/Inconsolata-Regular.ttf)
}