@import "tailwindcss";
/* <---- Styling for Mobile Devices ----> */
html {
	height:100%;
	font-size: 16px;
	scroll-behavior: smooth;
}
body {
	text-align: left;
	margin:0px;
	padding:0px;
	background-color:#f0f0f0;
	background-color: #191f22;
	/* background-color:#000000; */
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	/* Padding to compensate for the fixed navigation bar on mobile */
	padding-top: 10vh;
	/* animation: fadeIn 1.5s ease; */
}

h2, h3 {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

/* Main Website Structure Flexbox */
#main {
	/* color:#f0f0f0; */
	background-color:#f0f0f0;
	color:#000000;
	width: 100%;
	min-height: 50vh;
	height: auto;
	display: flex;
	flex-basis: 0 0 50%;
	/* margin: 1vh 0; */
}

/* Sets the middle column of the page bigger than other columns */
#main > div:nth-of-type(odd) {flex-grow: 0.5;}
#main > div:nth-of-type(even) {flex-grow: 4;}

/* Centre column in the middle of the screen used for each page's content. */
#middlecol {
	z-index:1;
	width: 10%;
	padding: 0 20px;
	margin: 3vh 0;
	line-height: 1.6;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#middlecol h1 {
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 0.25rem solid #00b55d;
}

#middlecol h2 {
	list-style-type: none;
	padding: 0;
	margin: 1vh 0;
}

/* Alternative verision of the middle column for the All Projects page. */
#middlecolAllProjects {
	z-index:1;
	width: 10%;
	padding: 0 20px;
	margin: 3vh 0;
	line-height: 1.6;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#middlecolAllProjects h1 {
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 0.25rem solid #00b55d;
}

#middlecolAllProjects h2 {
	list-style-type: none;
	padding: 0;
	margin: 1vh 0;
}

/* Website Navigation Bar */
#navbar {
	box-sizing: border-box;
    /* position:fixed is need for the navmenu to overlay on the content */
    position:fixed;
	top:0;  /* Used to keep the navbar at the top */
	margin-top: 0;	/* Removes gap at the top of the navbar */
    width:100%;
	/* background-color: #262e33; */
    text-transform: lowercase;
    padding: 0 0.5%;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	overflow:hidden;
	z-index:6;	/* Displays above overlay and page content */
}

#navbar li {
    list-style-type: none;
}

/* The links in the navbar */
#navbar li a:link, #navbar li a:visited{
    position: relative;
    color:#f2f2f2;
    text-decoration:none;
    padding: 0.5em 0;
    display:block;
}

/* An item in the navbar */
.menuitem {
	order:2;
	height: 0;
    width: 100%;
	text-align: center;
	transition: 250ms height ease-in-out;
}

/* Sets how the menu items should be displayed on mobile navbar */
.menuitems_show .menuitem {
	height: 8vh;
}

.logotext {
    color:#f2f2f2;
    font-size: 1.25em;
    padding: 0.25em 0.75em;
}

/* Toggle for the mobile navbar */
.menutoggle {
	order: 1;
    font-size: 1.25em;
    padding: 0 0.75em;
}

/* Indicates the currently accessed page */
#currentPage {
	color:#00b55d !important;
	pointer-events: none;
	cursor:default;
}

/* Darkens screen when the navbar is opened */
.navOverlay {
	/* background-color: rgba(0,0,0,0); */
	background-color: rgba(99, 99, 99, 0);
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: 5; /* Overlays page content */
	transition: all 300ms ease;
}

/* Page banner that appears at the top of every page */
#banner {
	display: flex;
	width: 100%;
	height: 50vh;
	justify-content: center;
	align-items: center;
}

/* Container for all of the text in the banner */
.bannerText {
	position: absolute;
	text-align: center;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	padding: 0 5vh;
}

#banner h1 {
	text-align: center;
	text-decoration: none;
	font-size: 3rem;
}

#banner h2 {
	font-weight: 400;
	font-size: 1.25rem;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

/* Special version of the banner for the index page only */
#indexBanner {
	position: absolute; 
	top: 0; 
	left: 0;
	display: flex;
	width: 100%;
	height: 99%;
	justify-content: center;
	align-items: center;
}

/* Container for the text in the index page's banner */
.indexBannerText {
	position: absolute;
	text-align: center;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	padding: 0 5vh;
}

#indexBanner h1 {
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
}

#indexBanner h2 {
	font-weight: 400;
	font-size: 1.25rem;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

/* Special button for the index page that goes to the projects page */
#indexButton {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	padding: 1.5vh 5vh;
	margin: 5vh auto 3vh auto;
	display:block;
	transition: background-color 0.4s;
	max-width: 50%;
	text-decoration: none;
}

#indexButton:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: rgb(27, 27, 27);
}

#indexButton:active {
	background-color: #adadad;
	border: 0.2vh solid #00b55d;
	color: rgb(27, 27, 27);
}

/* Settings for the particles in the BG */
#particles-js {
	background-color: #191f22;
	width: 100%;
	height: 100%;
	z-index: -100;
	position: absolute;
    top: 0;
    left: 0;
}

/* Container for the basic info for each project page */
#infoRec {
	display:flex;
	flex-wrap: nowrap;
	background-color: #4d5c66;
	width: auto;
	min-height: 10vh;
	justify-content: center;
	align-items: center;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
}

#infoRec div {
	color: #f0f0f0;
	flex: 1 1 0;
	text-align: center;
	padding: 3vh 1vh;
	height: 100%;
}

#infoRec h2 {
	color: #00b55d;
	text-transform: uppercase;
}

/* 
	Table that contains the info for the project page.
	Each table has Role, Context and Date.
*/
#infoTable {
	width: 100%;
	min-height: 10vh;
	table-layout: fixed;
	text-align: center;
	font-family: inherit;
}

#infoTable th {
	padding-top: 3vh;
}

#infoTable td {
	color: #f0f0f0;
	font-size: 1.2rem;
	padding-bottom: 4vh;
}

/* Container for the overview section for individual project pages */
#overview {
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	min-height: 15vh;
	background-color: #25292b;
	color: #f0f0f0;
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	padding: 3vh 1vh;
}

#overview a {
	text-decoration: none;
	color: #f0f0f0;
}

#overview h2 {
	color: #00994f;
	text-transform: uppercase;
}

/* Overview table inside the overview div for the information */
#ovTable {
	text-align: center;
}

#ovTable td {
	color: #f0f0f0;
	font-size: 1.2rem;
	padding-bottom: 3vh;
	line-height: 1.5rem;
}

/* Links in the overview table that links to the project's website(s) */
.links {
	position: relative;
}

/* Underline for the links in the overview table */
.links::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.1rem;
	bottom: -0.2vh;
	left: 0;
	background-color: #00b55d;
	transition: all 0.3s ease-in-out 0s;
}

.links:hover:before {
	height: 0.4rem;
	bottom: -1vh;
}

/* Styling for links located in the middle of text */
.midtextLink {
	transition: all 0.3s ease-in-out 0s;
	color: #00ec7a !important;
}

.midtextLink:hover {
	color: #008344 !important;
}

/* Container for each project on the Projects page */
.project {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 40vh;
	width: auto;
	margin-bottom: 5vh;
	border-radius: 2.5%;
}

/* The container for each image inside each project div */
.projectImg {
	/* background-color: #262e33; */
	background-color: #f0f0f0c7;
	flex-grow: 1;
	overflow: hidden;
	height: 40vh;
	width: 75%;
	border-radius: 2.5%;
}

/* The image inside the project divs */
.projectImg img {
	object-fit: fill;
	width:100%; 
	height:100%;
	transition: .3s ease-in-out;
	display: block;
	overflow: hidden;
}

/* Causes the image to zoom in on hover */
.projectImg:hover img {
	transform: scale(1.3);
}

/* Container for the text inside each project div */
.projectTxt {
	flex-grow: 0.5;
	padding: 2vh 3vh;
}

/* Button inside the projectTxt that links to the individual project page */
.projectTxt a {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	padding: 1vh 2vh;
	transition-duration: 0.4s;
	border-radius: 3%;
	margin-top: 5vh;
	text-decoration: none;
}

.projectTxt a:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: black;
}

.projectTxt a:active {
	background-color: #adadad;
	border: 0.2vh solid #00b55d;
	color: black;
}

/* Text that gives brief summary of the prog languages/software/technique used in each project */
.tags {
	color: #8d8d8d;
}

/* Footer at the bottom of the page */
#footer {
	background-color: #262e33;
	color: #a7a7a7;
	width: 100%;
	height: auto;
	font-size: 1.4rem;
	padding: 2vh 0;
	text-align:center;
}

/* Container for the links in the footer */
.link-set{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Styling for the icons for each link in the footer */
.linkIcon {
	color: white;
	font-size: 2rem;
	margin: 0.5em 1em 1em 1em;
}

.linkIcon:hover {
	color: #00b55d;
	transition: color 0.5s ease;
}

/* Special styling for the icons on the index page */
.index-link-icon {
	color: white;
	font-size: 2rem;
	margin: 1rem;
	transition: color 0.5s ease;
}

.index-link-icon:hover {
	color: #00b55d;
}

.index-link-icon:active {
	color: #008143;
}

#toplink {
	color:#ffd728;
}

/* Highlight for important text on the page */
.greenHighlight {
	color: #00ec7a;
}

/* Container for the email contact form */
#emailDiv {
	display:flex;
	justify-content: center;
	align-items: center;
}

/* The email form */
#emailForm {
	width: 100%;
}

/* Styling for each element in the contact form */
input[type=text], input[type=email], textarea {
	border: none;
	border-bottom: 0.2rem solid #00b55d;
	background-color: #f0f0f0;
	width: 100%;
	margin: 2vh 0;
	font-size: 1.2rem;
	font-family: Helvetica, Arial, sans-serif;
	min-height: 1.8rem;
	margin-bottom: 1rem;
}

textarea {
	resize: vertical;
	min-height: 10rem;
}

/* Styling for the submit button in the contact form */
input[type=submit] {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	margin: 2vh 0;
	padding: 1vh 2vh;
	transition-duration: 0.4s;
}

input[type=submit]:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: black;
}

input[type=submit]:disabled {
	background-color: #00b55e88;
	color: #f0f0f0;
	cursor: not-allowed;
}

/* Flex container for the contact boxes on contact page */
#contactContainer {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

/* 
	All of the individual boxes for the different contact methods.
	Each box is separated so that the boxes can have different background colours. 
*/
[class^="contactBox"] {
	background-color:#f0f0f0;
	color:#000000;
	font-size: 1rem;
	line-height: 2.5rem;
	text-decoration: none;
	width: 27vh;
	margin: 1vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s ease;
	text-align: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	border-radius: 3%;
}

/* Changes font for all h2 in contactBox */
[class^="contactBox"] h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Contact box for email */
.contactBox-email {
	color:#f0f0f0;
	background-color: #00b55d;
}

/* Contact box for GitHub link */
.contactBox-github {
	color:#f0f0f0;
	background-color: #211f1f;
}

/* Contact box for LinkedIn link */
.contactBox-linkedin {
	color:#f0f0f0;
	background-color: #0077B5;
}

/* Contact box for itch.io link */
.contactBox-itch {
	color:#f0f0f0;
	background-color: #fa5c5c;
}	

/* Selector for the icons in each contactBox */
[class^="contactIcon"] {
	font-size: 3rem;
	margin: 0.5em 1em 0 1em;
}

/* Container for the slideshow gallery */
#slideshowContainer {
	max-width: 80vh;
	position: relative;
	margin: 2vh auto;
}

/* Slide with the image; set not to show by default */
.slide {
	height: 30vh;
	display: none;
}

.slide img {
	object-fit: contain;
	width:100%; 
	height:100%;
	transition: .3s ease-in-out;
	overflow: hidden;
}

/* Buttons used to access previous/next slides */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	transition: 0.4s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.2);
}

.next {
	right: 0;
  	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dot {
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	margin: 0 0.1rem;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #008a47;
}

/* Fading animation for the gallery */
.fade {
	-webkit-animation: fade ease-out 2s;
	animation: fade ease-out 2s;
}

@-webkit-keyframes fade {
	from {opacity: .3} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .3} 
	to {opacity: 1}
}
  

.embed-yt {
	display: block; 
	margin: auto;
	width: 100%;
	height: 25vh;
	
}

.project-heading {
	border-bottom: 0.25rem solid #00b55d;
}

/* Styling for the All Projects page */
#allProjectsCase {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	flex-direction: row;
}

.projectThumb {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1vh;
	height: 30vh;
	width: 40vh;
	background-color: #000000;
	transition: 0.4s ease;
	position: relative;
	text-align: center;
	cursor: pointer;
	border-radius: 2.5%;
}

.projectThumb:hover {
	background-color: #222222;
}

.projectThumb img {
	object-fit: cover;
	width:100%; 
	height:100%;
	overflow: hidden;
	opacity: 0.3;
	border-radius: 2.5%;
}

.projectThumb h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	margin: 1vh 0;
}

/* Button linking Projects page to All Projects page */
.allProjectBtn {
	font-family: Inconsolata-Regular, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #f0f0f0;
	background-color: #00b55d;
	border: 0.2vh solid #00b55d;
	cursor: pointer;
	padding: 1vh 2vh;
	transition-duration: 0.4s;
	border-radius: 3%;
	text-decoration: none;
}

.allProjectBtn:hover {
	background-color: #f0f0f0;
	border: 0.2vh solid #00b55d;
	color: black;
}

.allProjectBtn:active {
	background-color: #adadad;
	border: 0.2vh solid #00b55d;
	color: black;
}

/* <---- Settings for Other Devices ----> */

/* Phone layout - Landscape */
@media only screen and (max-width: 740px) and (orientation: Landscape) {
	.projectThumb {
		margin: 1vh;
		height: 40vh;
		width: 50vh;
	}

	.projectThumb h3 {
		font-size: 1.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 1vh 0;
	}
}

/* Tablet layout - Portrait */
@media only screen and (min-width:741px) and (max-width: 1024px) and (orientation: Portrait) {
	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 7.5vh;
	}

	.logotext {
		font-size: 1.25em;
	}

	.menuitems_show .menuitem {
		height: 5.5vh;
	}

	#banner {
		height: 50vh;
	}

	#banner h1{
		font-size: 3rem;
	}

	#banner h2 {
		font-size: 1.4rem;
	}

	#indexBanner h1{
		font-size: 3rem;
	}

	#indexBanner h2 {
		font-size: 1.35rem;
	}

	.prev, .next {
		padding: 0.8rem;
		font-size: 1.2rem;
	}

	.projectThumb {
		margin: 1vh;
		height: 30vh;
		width: 40vh;
	}

	.projectThumb h3 {
		font-size: 2.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 1vh 0;
	}
}

/* Tablet layout - Landscape */
@media only screen and (min-width:741px) and (max-width: 1399px) and (orientation: Landscape){
	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 12.5vh;
	}

	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.5;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	/* Sets the middle column of the All Projects page bigger than other columns */
	#main > div#middlecolAllProjects{
		flex-grow: 4;
	}

	.menuitem {
        display:block;
		width: auto;
		height: auto;
        padding: 0.75em 0.5em;
	}
	
	.menutoggle {
		display: none;
	}

	.logotext {
        flex:1;
        font-size: 1.5em;
	}

	.project {
		flex-wrap: nowrap;
	}

	#banner h1{
		font-size: 3rem;
	}

	#banner h2 {
		font-size: 1.4rem;
	}

	#indexBanner h1{
		font-size: 3rem;
	}

	#indexBanner h2 {
		font-size: 1.35rem;
	}

	.projectImg {
		width: 60%;
	}

	.projectTxt {
		max-width: 40%; 
	}

	.prev, .next {
		padding: 0.8rem;
		font-size: 1.2rem;
	}

	.projectThumb {
		margin: 1vh;
		height: 30vh;
		width: 40vh;
	}

	.projectThumb h3 {
		font-size: 2.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 1vh 0;
	}
}

/* Desktop layout */
@media only screen and (min-width: 1400px) {
	body {
		/* Padding to compensate for the fixed navigation bar */
		padding-top: 8vh;
	}

	/* Sets the middle column of the page bigger than other columns */
	#main > div:nth-of-type(odd) {flex-grow: 0.75;}
	#main > div:nth-of-type(even) {flex-grow: 1;}

	/* Sets the middle column of the All Projects page bigger than other columns */
	#main > div#middlecolAllProjects{
		flex-grow: 4;
	}

	#navbar {
        justify-content: center;
        padding-right: 25vw;
	}
	
    #navbar li a:before {    
        content: "";
        display: block;
        height: 0.1em;
        /* 
            Replace this value with left/right to change ending point of underline anim.
            I.e. left: 0; ends on the left, right: 0; ends on the right. 
        */
        right: 0;	
        position: absolute;
        background-color: #00b55d;
        width: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out 0s;
    }
    
    #navbar li a:hover:before { 
        width: 100%; 
        /* 
            Replace this value with left/right to change starting point of underline.
            I.e. left: 0; starts from the left, right: 0; starts from the right. 
        */
        left: 0; 
    }

    .menuitem {
        display:block;
		width: auto;
		height:auto;
        padding: 0.75em 0.5em;
    }

    .logotext {
        flex:1;
        font-size: 1.5em;
        padding-left: 23vw;
		padding-top: 0.2em;
	}
	
	.menutoggle {
		display: none;
	}

	#banner h1{
		font-size: 5rem;
	}

	#banner h2 {
		font-size: 1.5rem;
	}

	#indexBanner h1{
		font-size: 5rem;
	}

	#indexBanner h2 {
		font-size: 1.5rem;
	}

	#infoRec {
		padding: 0 45vh;
	}

	#overview {
		padding: 0 60vh;
	}

	.links {
		font-size: 1.3rem;
	}

	.project {
		flex-wrap: nowrap;
		margin: 0 5vh;
		margin-bottom: 5vh;
	}

	.projectImg {
		width: 60%;
	}

	.projectTxt {
		max-width: 40%; 
	}

	/* 
		Different styling for the contactBoxes on desktop.
		contactBoxes change colour on hover instead of being permanently coloured. 
	*/
	[class^="contactBox"] {
		background-color:#f0f0f0;
		color:#000000;
	}
	
	.contactBox-email:hover {
		color:#f0f0f0;
		background-color: #00b55d;
	}
	.contactBox-email:active {
		color:#f0f0f0;
		background-color: #008143;
	}
	
	.contactBox-github:hover {
		color:#f0f0f0;
		background-color: #211f1f;
	}
	.contactBox-github:active {
		color:#f0f0f0;
		background-color: #424242;
	}
	
	.contactBox-linkedin:hover {
		color:#f0f0f0;
		background-color: #0077B5;
	}
	.contactBox-linkedin:active {
		color:#f0f0f0;
		background-color: #014f79;
	}		

	.contactBox-itch:hover {
		color:#f0f0f0;
		background-color: #fa5c5c;
	}
	.contactBox-itch:active {
		color:#f0f0f0;
		background-color: #b84242;
	}		

	/* 
		Sets the prev/next buttons to be visible when the cursor 
		hovers over the slideshow gallery. 
	*/
	#slideshowContainer:hover > .prev, #slideshowContainer:hover > .next {
		opacity: 1;
	}

	.slide {
		height: 45vh;
	}

	.prev, .next {
		padding: 1rem;
		font-size: 1.2rem;
		opacity: 0;
	}

	.embed-yt {
		width: 70%;
		height: 35vh;
	}

	.projectThumb {
		margin: 1vh;
		height: 30vh;
		width: 40vh;
	}

	.projectThumb h3 {
		font-size: 2.2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 1vh 0;
	}
}

/* <---- Animations ----> */

/* Fade-in animation on page load */
@keyframes fadeIn {
	0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Custom Fonts */
@font-face {
	font-family: Inconsolata-Regular;
	src: url(/fonts/Inconsolata-Regular.ttf);
	font-display: swap;
}