body {
    background-color: #1c1f20;
    padding: 7.5vh 0;
    font-family: Helvetica, Arial, sans-serif;
}

#center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#center > div {
    margin: 3vh 5vh;
    min-width: 40vh;
}

#title {
    color: white;
    text-align: center;
    margin-top: 3vh;
}

a:visited {
    text-decoration: none;
    color: rgb(184, 182, 182);
}

#subtitle {
    color: rgb(184, 182, 182);
    text-align: center;
    margin-top: 1vh;
}

#instaPost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 3vh 0;
}

#randomiseButton {
    margin-top: 3vh;
    width: 100%;
    height: 5vh;
    border: 0.2vh solid #00b55d;
    background-color: #00b55d;
    color: white;
    transition: background-color 0.2s;
    font-size: 1.2rem;
}

#randomiseButton:hover {
    background-color: #00b55e00;
    border: 0.2vh solid #00b55d;
}

#randomiseButton:active {
    background-color: #00b55e56;
    border: 0.2vh solid #00b55d;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

