body {
    height: 100%;
    margin: 0 3vh;
    background-color: rgb(235, 235, 235);
}

.nightmode {
    background-color: rgb(45, 45, 45);
}

.nightText {
    color: white;
}

#header {
    margin: 5vh 5vw;
}

.nightHeader{
    color: white;
}

#footer {
    margin-top: 2vh;
    border-top: 0.15rem solid black;
    padding: 2vh 2vw;
}

.nightFooter{
    border-color: white;
    color: white;
}

#clock {
    text-align: right;
}

#cartsContainer {
    display:flex;
    justify-content: center;
    margin: 5vh 5vw;
}

.cartBox {
    outline: none;
}

.cartBox:hover > .cartName, .cartBox:focus > .cartName {
    opacity: 1;
}

.cartBox:hover > .cart, .cartBox:focus > .cart {
    box-shadow: 0 0 0 0.5vh rgb(75, 195, 222);
}

.cart {
    display: inline-block;
    height: 30rem;
    width: 30rem;
    background-color: rgb(238, 237, 240);
    margin: 0 0.5vh;
}

.empty {
    border: 0.3rem solid white;
}

.cartName {
    opacity: 0;
    cursor: default;
    color: rgb(75, 195, 222);
}

#optionsContainer {
    display: flex;
    justify-content: center;
    margin: 5vh 0;
    padding: 1vh 0;
}

.optionBtn {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 0.2vh rgb(161, 161, 161);
    background-color: rgb(255, 255, 255);
    outline: none;
}

.optionBtn:hover, .optionBtn:focus {
    box-shadow: 0 0 0 0.5vh rgb(75, 195, 222);
}