body {
    height: 100%;
    margin: 0 3vh;
    background-color: rgb(235, 235, 235);
}

.nightmode {
    background-color: rgb(45, 45, 45);
}

.nightText {
    color: white;
}

#header {
    padding: 2vh 2vw;
}

.nightHeader{
    color: white;
}

#footer {
    margin-top: 2vh;
    border-top: 0.15rem solid black;
    padding: 2vh 2vw;
}

.nightFooter{
    border-color: white;
    color: white;
}

#clock {
    text-align: right;
}

#cartContainer {
    margin: 5vh 5vw;
}

.cart {
    height: 20rem;
    width: 20rem;
    background-color: rgb(71, 58, 58);
}

.cart:hover, .cart:focus {
    box-shadow: 0 0 0 0.5vh rgb(75, 195, 222);
}

#optionsContainer {
    display: flex;
    justify-content: center;
}

.optionBtn {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 0.2vh rgb(161, 161, 161);
    background-color: rgb(255, 255, 255);
    
}

.optionBtn:hover, .optionBtn:focus {
    box-shadow: 0 0 0 0.5vh rgb(75, 195, 222);
}